@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

.flex-flex {
  @apply flex flex-col md:flex-row;
}

.show {
  @apply border-2 border-red-600;
}

.show-bg {
  @apply bg-cyan-500;
}

@layer components {
  .wrapper {
    @apply max-w-[75rem] mx-auto w-[90%];
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: transparent 0 0 20px 20px #23232329;
}
